@charset "utf-8";

/*
    Portfolio Project
    Author: Connor J Webdale
    Date: 10.17.18

    Filename: layout.css
*/

/*HTML and Body Styles*/
body {
    width: 95%;
    height: 100%;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

/*Nav Styles*/
nav>ul li {
    display: block;
    float: left;
    text-align: center;
    width: 14.285%;
    background-color: rgb(150, 146, 146);
}

ul {
    list-style-type: none;
}