@charset "utf-8";

/*
    Portfolio Project
    Author: Connor J Webdale
    Date: 10.17.18

    Filename: styles.css
*/

/*HTML and Body Styles*/
html {
    background-color: rgb(172, 211, 230);
}

body {
    background-color: rgb(233, 233, 233);
}

hr {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    height: 2px;
}

ul a {
    text-decoration: none;
}

h1 {
    text-align: center;
}

header h1 {
    padding: 0vw 1vw;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}

main div.row div.col-1-2 h2 {
    text-align: center;
}

article ul {
    list-style-type: none;
}

p {
    text-indent: 1vw;
    padding: 10px;
    padding-top: 0;
}

img {
    width: 100%;
    padding: 0;
    margin: 0;
}

img#experience {
    padding-right: 10px;
    box-sizing: border-box;
}

article#skills_grid {
    color: rgb(10, 10, 10);
}

article#skills_grid img {
    min-height: 132px;
    max-height: 263.595px;
}

/*Figure and Section Styles in Skills*/
section {
    border-radius: 15px;
    position: relative;
}

section h2,
section p {
    padding: 0;
    margin: 0;
    text-align: center;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);

}

section#one {
    background-image: url(https://images.unsplash.com/photo-1540835296355-c04f7a063cbb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=487ca22d4eefa13e9fcb110c224cfa46&auto=format&fit=crop&w=1650&q=80);
    background-size: 100%;
}

section#two {
    background-image: url(https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f75361bb535d798b9936d0b3f53e9cd3&auto=format&fit=crop&w=800&q=80);
    background-size: 100%;
}

section#three {
    background-image: url(https://images.unsplash.com/photo-1520846468899-a56651fec36d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4930cfd314d8bf3dfb2442b5bd2dca4a&auto=format&fit=crop&w=1650&q=80);
    background-size: 100%;
}

section#four {
    background-image: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c4b5fcc53abd6158286dc86a9be4bee&auto=format&fit=crop&w=1650&q=80);
    background-size: 100%;
}

section#five {
    background-image: url(https://images.unsplash.com/photo-1527427337751-fdca2f128ce5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f0965bc37ef09044780baa8af91e2b3&auto=format&fit=crop&w=800&q=60);
    background-size: 100%;
}

/*Padding and Visibility of Skills*/
section h2 {
    z-index: 4;
    padding-left: auto;
    padding-right: auto;
}

article#skills_grid section p {
    visibility: hidden;
}




/* figure p {
    position: relative;
    top: -150px;
    left: 10px;
    z-index: 10;
} */

/*Contact Styles*/
ul#address {
    width: 20%;
    padding-left: 40px;
    margin-left: auto;
    margin-right: auto;

}

ul#address li {
    padding-bottom: .5vw;
}

ul#address li:nth-of-type(1) {
    list-style-image: url('../img/test_list.jpeg');
}

ul#address li:nth-of-type(2) {
    list-style-image: url('../img/phone.jpg');
}

ul#address li:nth-of-type(3) {
    list-style-image: url('../img/mobile_phone.jpeg');
}

ul#address li:nth-of-type(4) {
    list-style-image: url();
}

/*Navigation Styles*/
ul {
    padding-left: 0;
    margin: 0;
    line-height: 2em;
    text-decoration: none;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

/*Background Image Styles*/

/*Z-Index Styles*/