@charset "utf-8";

/*
    Portfolio Project
    Author: Connor J Webdale
    Date: 10.17.18

    Filename: styles.css
*/

/*HTML and Body Styles*/
html {
    background-color: rgb(172, 211, 230);
}

body {
    background-color: rgb(233, 233, 233);
}

header h1 {
    padding: 0vw 1vw;
}

h1,
h2 {
    font-family: 'Oswald', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
}

article ul {
    list-style-type: none;
}

img {
    width: 100%;
}

article#skills_grid {
    color: rgb(30, 255, 0);
}

article#skills_grid p {
    min-height: 132px;
}

/*Navigation Styles*/
ul {
    padding-left: 0;
    margin: 0;
    line-height: 2em;
}

nav a {
    text-decoration: none;
    color: black;
    font-family: 'Work Sans', sans-serif;
}

/*Background Image Styles*/
/*Changed the background of paragraphs elements to a picture that matches the topic of the paragraph. */
p#com {
    background-image: url("https://images.unsplash.com/photo-1540835296355-c04f7a063cbb?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=487ca22d4eefa13e9fcb110c224cfa46&auto=format&fit=crop&w=1650&q=80");
}

p#cri {
    background-image: url("https://images.unsplash.com/photo-1493612276216-ee3925520721?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=f75361bb535d798b9936d0b3f53e9cd3&auto=format&fit=crop&w=800&q=80");
}

p#jud {
    background-image: url("https://images.unsplash.com/photo-1520846468899-a56651fec36d?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=4930cfd314d8bf3dfb2442b5bd2dca4a&auto=format&fit=crop&w=1650&q=80");
}

p#rea {
    background-image: url("https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=0c4b5fcc53abd6158286dc86a9be4bee&auto=format&fit=crop&w=1650&q=80");
}

p#pro {
    background-image: url("https://images.unsplash.com/photo-1527427337751-fdca2f128ce5?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=7f0965bc37ef09044780baa8af91e2b3&auto=format&fit=crop&w=800&q=60");
}

p#com,
p#cri,
p#jud,
p#rea,
p#pro {
    background-size: 100% 100%;
}